.About {
  height: 80vh;
  display: flex;
  align-items: center;
}

.About .infobox {
  width: 90%;
  margin: auto;
  background-color: #484848;
  border-radius: 10px;
  color: white;
  padding: 20px;
}

.About .infobox h2 {
  color: #ffde59;
  margin-bottom: 10px;
}

.About .copyright {
  margin-top: 70px;
}

.About .copyright .author,
.link-to-api {
  color: #ffde59;
  margin-left: 7px;
  background-color: #121214;
  padding: 5px;
  border-radius: 5px;
}

.About .copyright .link-to-api {
  margin-left: 0;
  padding: 0;
}
